<button class="w-100 mt-1 mb-1 font-bold py-2 px-4 rounded bg-blue-500 text-white hover:bg-blue-700" onclick="OnClick">@ButtonLabel</button>

@code {

    [Parameter]
    public required string ButtonLabel { get; set; }
    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

}